<div class="blog-card">
  <div class="card-header">
    <div class="blog-title"><h2>blog title</h2></div>
    <div class="blog-info">
      <span><em>published at : 02/08/2022 by Author name</em></span>
      <span>ups/downs</span>
    </div>
  </div>
  <div class="blog-preview">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, modi.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta ea minus
    debitis nam voluptas veritatis repellendus cupiditate ducimus dignissimos
    saepe.

    <button class="read-more">read more</button>
    <div class="read-more-mask">
      <h1>read more</h1>
    </div>
  </div>
</div>
